.SoneMenuButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(0);
    transition: transform 0.65s ease;
    margin-top: 0;
    height: 50px;
    color: #fff;
}

.SoneMenuButton:hover {
    cursor: pointer;
}

.SoneMenuButton:hover,
.SoneMenuButton[data-isopen="true"] {
    transform: rotate(180deg);
}

.SoneMenuButton[data-isopen="true"]:hover {
    transform: rotate(0);
}

.SoneMenuButtonLine[data-variant="white"] {
    background: #fff;
}

.SoneMenuButtonLine {
    display: block;
    width: 50px;
    height: 5px;
    background: #FFF;
    transition: transform 0.4s ease;
    /* filter: contrast(0.5) brightness(1); */
}

.SoneMenuButtonLine + .SoneMenuButtonLine {
    transform: rotate(90deg);
    margin-left: -50px;
}

@media only screen and (max-width: 600px) {
    .SoneMenuButtonLine {
        width: 40px;
        height: 4px;
    }

    .SoneMenuButtonLine + .SoneMenuButtonLine {
        margin-left: -40px;
    }
}