@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300;700&family=Roboto:wght@100;300;400;500;900&display=swap");
@import url("../../styles/variables/breakpoints.css");

.SoneHome {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
}

.SoneHomeWrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.SoneHomeVideoBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 104vw;
  height: 104vh;
  margin: -2vh auto auto -2vw;
  object-fit: cover;
  z-index: -100;
  pointer-events: none;
  transition: filter 0.5s ease;
}

.hasBlur {
  filter: blur(20px);
}
