@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300;700&family=Roboto:wght@100;300;400;500;900&display=swap");
/* @import url("../../../../styles/variables/breakpoint-sizes.css"); */

.pageWrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;

  --color-white: #fff;
  --color-black: #000;
  --color-gray: #464646;
  --color-blue: #046bff;
  --color-bluedark1: #005de4;
  --color-bluedark2: #0068ff;
  --color-bluedark3: #267eff;
  --color-brandblue: #04367f;
  --robotoFont: "Roboto", sans-serif;
  --archivoFont: "Archivo", sans-serif;
  --desktopViewportWidth: calc(100vw - 244px);
  --desktopNavWidth: 244px;
}
