.header-wrapper {
    position: absolute;
    top: 50px;
    left: 0;
    width: calc(100% - 100px);
    padding: 0 50px;
    z-index: 100;

    /* backface-visibility: hidden;
    will-change: transform;
    mix-blend-mode: difference;
    color: #fff; */
}

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    
}

@media only screen and (max-width: 600px) {
    .header-wrapper {
        width: calc(100vw - 40px);
        height: calc(100vh - 52px);
        padding: 0 20px;
    }

    .header-nav {
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .header-wrapper ul {
        order: 2;
    }

    .header-wrapper[data-size="small"] {
        width: calc(100vw - 40px);
        height: auto;
    }

    .header-wrapper[data-size="small"] .header-nav {
        flex-direction: row;
        align-items: flex-start;
        height: auto;
    }

    .header-wrapper[data-size="small"] ul {
        order: 1;
    }

    .header-wrapper[data-size="small"] ul + div {
        order: 2;
    }

    .header-wrapper[data-size="small"] ul svg {
        width: auto;
        height: 30px;
        margin-top: -12px;
    }
}

.sone-menu-content {
    position: fixed;
    top: 150px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: calc(100vw - 300px);
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .sone-menu-content {
        top: 100px;
        flex-direction: column;
        align-items: flex-end;
        width: calc(100vw - 40px);
    }
}

.sone-menu-content[data-visible="false"] {
    opacity: 0;
    pointer-events: none;
}

.sone-menu-content[data-visible="false"] .sone-menu-content--right a {
    line-height: 120%;
}

.sone-menu-content[data-visible="true"] {
    opacity: 1;
    pointer-events: all;
}

.sone-menu-content[data-visible="true"] .sone-menu-content--right a {
    line-height: 100%;
}

.sone-menu-content[data-variant="white"] a {
    color: #fff;
}

.sone-menu-content[data-variant="white"] a:hover {
    color: #000;
}

.contact-link {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    line-height: 18px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .sone-menu-content--left {
        margin-top: 20px;
        order: 2;
        text-align: right;
    }

    .sone-menu-content--left a {
        font-size: 12px;
        line-height: 16px;
    }
}

.sone-menu-content--left a:hover {
    cursor: pointer;
}

.sone-menu-content--right {
    text-align: right;
}

.sone-menu-content--right a {
    /* adaptive font-size */
    font-size: clamp(2rem, 4vw, 8rem);

    color: #000;
    transition: all 0.4s ease;
}

@media only screen and (max-width: 600px) {
    .sone-menu-content--right a {
        font-size: 32px;
        line-height: 28px;
        letter-spacing: 0;
    }
}

.sone-menu-content--right a:hover,
.sone-menu-content--right a.active {
    color: #fff;
    cursor: pointer;
}

.some-language-wrapper {
    position: absolute;
    top: -35px;
    right: 20px;
}

@media only screen and (max-width: 600px) {
    .some-language-wrapper {
        top: 50px;
        right: auto;
        left: 20px;
    }
}

.some-language-wrapper[data-variant="white"] a {
    color: #fff;
}

.some-language-wrapper a {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.logo-svg {
    width: 134px;
    height: 50px;
    /* filter: saturate(0) contrast(1) brightness(1); */
}

@media only screen and (max-width: 600px) {
    .logo-svg {
        width: calc(100vw - 40px);
        height: 104px;
    }
}