.sone-projects-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    width: calc(100vw - 100px);
    margin: 50px auto 0;
    transition: filter 0.3s ease;
}

.sone-projects-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    /* width: calc(25% - 20px); */
    /* min-width: 320px; */
    /* width: calc(25% - 20px); */
    min-height: calc(25vw - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #000;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    overflow: hidden;
}

.sone-projects-item--letter {
    background-color: rgb(255, 255, 255);
}

@media only screen and (max-width: 600px) {
    .sone-projects-item--letter {
        display: none;
    }
    
    .sone-projects-wrapper {
        display: block;
        padding-bottom: 40px;
    }

    .sone-projects-content {
        display: flex;
        flex-direction: column;
        width: calc(100vw - 40px);
    }

    .sone-projects-item {
        width: 100%;
        height: 100%;
        background-color: transparent;
    }

    .sone-projects-item--letter {
        justify-content: center;
    }
}

.sone-projects-item--letter .sone-projects-item-content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    background-color: #fff;
    transform: translate3d(0,0,0);
    filter: blur(0);
    opacity: 1;
}

.sone-projects-item--letter .sone-projects-item-content a {
    text-decoration: none;
    color: #000;
}

.sone-projects-item--letter .sone-projects-item-content h3 {
    font-size: 120px;
    font-weight: 700;
    text-transform: none;
}

.sone-projects-item--letter .sone-projects-item-content svg {
    width: 60px;
}

.sone-projects-item--letter[data-large="true"] .sone-projects-item-content svg {
    width: 80px;
}

.sone-projects-item--letter .sone-projects-item-content h3 {
    transition: opacity 0.3s ease;
}

.sone-projects-item--letter .sone-projects-item-content h3:hover {
    opacity: 0.5;
    cursor: pointer;
}

.sone-projects-item:nth-child(4n) {
    margin-right: 0;
}

.sone-project-item-bg {
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    background-position: center;
    background-size: cover;
    transition: filter 0.3s ease, opacity 0.3s ease;
}

@media only screen and (max-width: 600px) {
    .sone-project-item-bg {
        position: relative;
        top: 0;
        left: 0;
        min-height: 320px;
        filter: none;
    }

    .sone-projects-item-content a,
    .sone-projects-item-content h3,
    .sone-projects-item-content h4 {
        color: #000;
    }

    .sone-projects-item:not(.sone-projects-item--letter) .sone-projects-item-content h3,
    .sone-projects-item:not(.sone-projects-item--letter) .sone-projects-item-content h4 {
        font-size: 18px !important;
    }

    .sone-projects-item-content h4 {
        margin-top: 6px !important;
    }
}

.sone-projects-item-content {
    display: flex;
    flex-direction: column;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    padding: 30px;
    opacity: 0;
    color: #fff;
    transform: translate3d(0,20px,0);
    transition: all 0.5s ease;
    filter: blur(1px);
    will-change: filter;
}

@media only screen and (max-width: 600px) {
    .sone-projects-item:not(.sone-projects-item--letter) .sone-projects-item-content {
        width: 100%;
        padding: 20px 0;
        opacity: 1;
        transform: translate3d(0, 0, 0);
        filter: none;
    }
}

.sone-projects-item-content h3,
.sone-projects-item-content h4 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-style: normal;
    line-height: 100%;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sone-projects-item-content h3 {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
}

.sone-projects-item-content h4 {
    margin-top: 30px;
    font-weight: 600;
    font-size: 20px;
}

.sone-projects-item:hover .sone-projects-item-content {
    opacity: 1;
    transform: translate3d(0,0,0);
    filter: blur(0);
}

.sone-projects-item:hover .sone-project-item-bg {
    filter: blur(15px);
    opacity: 0.9;
}

.sone-small-plus {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    margin: auto auto 0 0;
  }
  
.sone-small-plus::before,
.sone-small-plus::after {
    content: '';
    background-color: #fff;
}

.sone-small-plus::before {
    position: relative;
    display: block;
    width: 3px;
    height: 30px;
    margin: 0 auto;
}

.sone-small-plus::after {
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    width: 30px;
    height: 3px;
    margin: auto;
}

/* Filter */
.sone-main-filters {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70vw;
    margin: 80px auto 0;
    transition: filter 0.3s ease;
    z-index: 101;
}

.sone-main-filters.hasBlur {
    filter: blur(10px)
}

.sone-main-filters li:not(:last-child) {
    margin-right: 20px;
}

@media only screen and (max-width: 600px) {
    .sone-main-filters {
        flex-direction: column;
    }

    .sone-main-filters li {
        margin-right: 0 !important;
    }
}

.sone-main-filters li span {
    display: block;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    line-height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sone-main-filters li:hover {
    cursor: pointer;
}

.sone-main-filters[data-islist="true"][data-mainfilter="true"] li:last-child span {
    font-weight: 600;
}

/* List Display */
.sone-project-content-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(100vw - 100px);
    min-width: 90vw;
    overflow-x: scroll;
    margin: 50px auto 0;
    transition: filter 0.3s ease;
}

@media only screen and (max-width: 600px) {
    .sone-project-content-list {
        overflow: hidden;
    }
}

.sone-list-background-full {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    background-size: cover;
    background-position: center;
    z-index: -100;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sone-list-background-full[data-bg="true"] {
    opacity: 1;
}

.sone-list-background-full[data-bg="true"] ~ li:not(.sone-project-content-list-head) {
    border-top: 1px solid #fff;
}

.sone-list-background-full[data-bg="true"] ~ li span {
    color: #fff;
}

.sone-project-content-list li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 12px 0;
}

@media only screen and (max-width: 600px) {
    .sone-list-background-full,
    .sone-project-content-list .sone-project-content-list-head {
        display: none;
    }
}

.sone-project-content-list .sone-project-content-list-head span {
    font-weight: 600;
}

.sone-project-content-list .sone-project-content-list-head span:hover {
    cursor: pointer;
}

.sone-project-content-list li:not(.sone-project-content-list-head) {
    width: 100%;
    border-top: 1px solid #000;
}

.sone-project-content-list li:not(.sone-project-content-list-head) a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: #000;
}

.sone-project-content-list span {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    line-height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sone-list-date {
    width: 8%;
    min-width: 100px;
}

.sone-list-title {
    width: 24%;
    min-width: 300px;
    padding-right: 10px;
}

.sone-list-location {
    width: 22%;
    min-width: 300px;
    padding-right: 10px;
}

.sone-list-typology {
    width: 14%;
    min-width: 200px;
}

.sone-list-sqm {
    width: 12%;
    min-width: 140px;
}

.sone-list-budget {
    width: 10%;
    min-width: 100px;
}

.sone-list-status {
    width: 10%;
    min-width: 100px;
}

.sone-mobile-filter-menu {
    display: none;
}

@media only screen and (max-width: 600px) {
    .sone-project-content-list li span:not(.sone-list-date):not(.sone-list-title) {
        display: none;
        width: 0;
    }

    .sone-mobile-filter-menu {
        position: absolute;
        top: 28px;
        right: 100px;
        display: block;
        width: 30px;
        height: 30px;
        padding: 0;
        border: 0;
        background: transparent;
        z-index: 100;
    }

    .sone-mobile-filter-menu[data-open="true"] span::before,
    .sone-mobile-filter-menu[data-open="true"] span::after {
        opacity: 0;
    }

    .sone-mobile-filter-menu span {
        display: block;
        width: 100%;
        height: 4px;
        background: #000;
        transition: opacity 0.3s ease;
        pointer-events: none;
    }

    .sone-mobile-filter-menu span::before,
    .sone-mobile-filter-menu span::after {
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        background: #000;
        transition: opacity 0.3s ease;
    }

    .sone-mobile-filter-menu span::before {
        transform: translate3d(0,-13px,0);
    }
    
    .sone-mobile-filter-menu span::after {
        transform: translate3d(0,10px,0);
    }

    .sone-mobile-filter-menu[data-open="false"] + .sone-main-filters {
        opacity: 0;
        height: 0;
    }
}