@import "reset-css";
@import "shared";
@import "variables/breakpoint-sizes";
@import "variables/colors";
@import "variables/sizes";
@import "variables/breakpoints";
@import "font-face";
@import "base";

@import "menu";
@import "workshop";
@import "contact";
@import "projects";
@import "project";
@import "about";

@import "scrollProgressBar";
@import "lightbox";

a:hover,
button:hover {
    cursor: pointer;
}